.container .profile-data .info {
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
}
  
.container .profile-data .info .data{
    padding: 40px;
    width: 50%;
}
  
.container .profile-data .info img{
    width: 50%;
    border-radius: 50%;
    border: 5px solid #ff69b4;
}
  
.container .profile-data .info h1{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 2px 1px 2px #0000005b;
}
  
.container .profile-data .info p{
    font-size: 15px;  
    font-weight: 400;
    line-height: 23px;
}
  