@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");


:root{
    --background: #24292e;
    --background-events: #5959592a;
    --background-icons: #6c2ebec5;
    --btn-hover: #ff69b4;
}